# .gitignore-File
/INSTALL
Makefile
*.swp
*.cache
*.o
*.*~
m4/
/aclocal.m4
/config.h
/config.h.in
/config.status
/config.guess
/config.sub
/config.log
/configure
/depcomp
/install.sh
/stamp-h1
/ltmain.sh
/libtool
/missing
/install
/install-sh
.deps/
.libs/
*.in
compile
mkinstalldirs
/.anjuta/
/.anjuta_sym_db.db
/*.anjuta


mhttp
mquery
